body {
    background: #17202A;
    font-family: 'Helvetica Neue';
}

.logo {
    text-decoration: none;
    margin-left: 18px;
}

.wrapper {
    display: grid;
    grid-template-columns: 280px 599px 377px;
    width: fit-content;
    margin: auto;
}

.wrapper div {
    outline: 2px solid red;
}

.sidemenu-nav {
    display: flex;
    flex-direction: column;
}

.sidemenu-nav a {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 18px;
}

.sidemenu-nav a:hover {
    background: rgba(255, 255, 255, 0.5);

}

.sidemenu-nav .text {
    margin-left: 21px;
    font-size: 20px;
}

.tweet {
    background: #4BA0EC;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    width: 211px;
    height: 50px;
    border-radius: 100px;
    color: #fff;
    line-height: 50px;
    display: inline-block;
    margin: 18px 0 0 7px;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .wrapper {
        grid-template-columns: 60px 1fr;
        width: 100%;
    }

    .right-column {

        opacity: 0.4;
    }

    .sidemenu-nav .text {
        display: none;
    }

    .tweet {
        width: 45px;
        height: 45px;
        font-size: 12px;
    }
}


.profile-name {
    font-size: 20px;
}